body {
  margin: 0px;
  background-color: #444;
  color: #fff;
}

body a {
  color: #fff;
}

.page-container {
  display: grid;
  grid-template-columns: 256px auto;
  grid-template-rows: 100vh;
}

.page-header {
  grid-column: 1;
  grid-row: 1;
  background-color: #333;
  color: #fff;
  height: 100%;
  padding: 20px;
}

.page-main {
  grid-column: 2;
  grid-row: 1;
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .page-container {
    display: initial;
  }
}
